<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/nav.css" />
    <title>KTLITER</title>
  </head>
  <body>
    <div class="ALL">
      <div class="nav">
        <a href="">
          <img src="images/KTLITER.png" />
        </a>
        <li class="fromLeftM">
          <a href="/KTLITER" style="text-decoration: none">KTLITER</a>
        </li>
        <li class="fromLeft" style="text-decoration: none">
          <a href="/menu">MEMU</a>
        </li>
        <li class="fromLeft" style="text-decoration: none">
          <a href="/login">Login</a>
        </li>
        <li class="fromLeftB" style="text-decoration: none">
          <a href="/axios">UPMENU</a>
        </li>
      </div>

      <div id="" style="background-color: white; color: #d7d7d7">
        <h1>KTLITER?</h1>
      </div>
    </div>
  </body>
</html>
