<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- JQUERY-->
    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <!-- AXIOS-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <form id="form">
      <label for="title">Title</label
      ><input type="text" name="title" id="title" />
      <br />
      <label for="message">Message</label>
      <input type="text" name="message" id="message" />
      <input type="file" name="file" id="file" />
      <br />
      <button type="button" id="upload">upload</button>
    </form>
    <h3>sdd</h3>
    <p id="result_title"></p>
    <h3>sdd</h3>
    <p id="result_message"></p>
    <h3>sdd</h3>
    <p id="result_originalFileName"></p>
    <img src="" alt="" id="result_img" />
    <div id="result">
      <script>
        const button = document.getElementById("upload");

        button.addEventListener("click", () => {
          const form = document.getElementById("form");
          const formData = new FormData(form);
          console.log(form);
          console.log(formData);

          const id = localStorage.getItem("id");

          axios
            .post(`${window.location.pathname}`, formData, {
              headers: { "Content-Type": "multipart/form-data" },
            })
            .then((res) => {
              console.log(res);
              console.log(res.data);
              document.getElementById("result_title").innerText =
                res.data.title;
              document.getElementById("result_message").innerText =
                res.data.message;
              document.getElementById("result_originalFileName").innerText =
                res.data.originalFileName;
              document
                .getElementById("result_img")
                .setAttribute("src", res.data.fileUrl);
            })
            .catch((err) => {
              console.log(err);
            });
        });
      </script>
    </div>
  </body>
</html>
